.Rproj.user
.Rhistory
*.RData
*.rds
.Ruserdata
*.Rproj
*.svg
MS_files/AmNat_review_initial_Gannon_et_al.docx
*~$*.docx
*.mp4
*.DS_Store
# figure files that are not finalized
*.png


# Correspondence with journals
MS_files/Gannon_et_al_cover_letter*
*response_to_reviewers*


